.flex-container {
    padding: 1em;
    display: flex;
    align-items: center;
}

.flex-container .forHover {
    margin-left: auto;
    opacity: 0;
    transition: all .2s;
}

.flex-container:hover .forHover {
    opacity: 1;
}

.collapse {
    /*opacity: 0;*/
    /*height: 0;*/
    display: block !important;
    height: 0px !important;
    overflow: overlay !important;
    background: yellowgreen;
}

.show {
    display: block !important;
    height: 200px !important;
    overflow: overlay !important;
    background: yellowgreen;
}

@keyframes zoomMyHeight {
    from {height: 0px;}
    to {height: 200px;}
}

@keyframes reduceMyHeight {
    from {height: 200px;}
    to {height: 0px;}
}

.zoomMyHeight {
    animation: zoomMyHeight infinite;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.reduceMyHeight {
    animation: reduceMyHeight infinite;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
