<button class="icon" (click)="onAddTask()">
    <i class="material-icons " [innerText] = "(addTaskFlag) ? 'add_circle' : 'remove_circle'"></i>
    <!--<i class="material-icons">remove_circle</i>-->
</button>
<div class="addTasksPanel" [class] = "(!addTaskFlag) ? 'addTasksPanel' : 'addTasksPanelHide'">

</div>

<div *ngFor="let task of tasksList" class="flex-container">
    <!--<div>-->
        <!--<i class="glyphicon glyphicon-check"></i>-->
    <!--</div>-->
    <button class="checkbox icon" (click)="onToggle(task)">
        <i class="material-icons" [innerText] = "(task.completed == 1) ? 'check_box' : 'check_box_outline_blank'"></i>
    </button>

    <!--glyphicon glyphicon-unchecked-->
    <div>{{task.author}}</div>
    <div>{{task.id}}</div>
    <div>{{task.message}}</div>

    <div class="forHover">
        <button class="icon" (click)="onDelete(task)">
            <i class="material-icons">delete</i>
        </button>

    </div>

</div>