<div class="todo-list" *ngIf="inputArraysInTodoListComponent.length">
    <todo-item *ngFor="let todo of inputArraysInTodoListComponent" [inputTodoItemFromComponentTask]="todo" (deleteFlagForOutputEventEmitter)="onDelete($event)" (toggle)="onToggle($event)"></todo-item>
</div>


<!--*ngFor="let todo of componentTasks"-->
<!--prohod po masivy 'componentTasks' kotorui opisan v TodoListComponent-->

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--[inputTodoItemFromComponentTask]="todo"-->

<!--inputTodoItemFromComponentTask - eto input peremenna9, kotora9 opisana v TodoItemComponent-->
<!--@Input() inputTodoItemFromComponentTask: Todo;-->
<!--todo - element iz massiva componentTasks-->

<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--(deleteFlagForOutputEventEmitter)="delete($event)"-->

<!--deleteFlagForOutputEventEmitter eto sluwatel', on opisan v TodoItemComponent-->
<!--@Output() deleteFlagForOutputEventEmitter = new EventEmitter();-->

<!--onDelete() {-->
<!--this.deleteFlagForOutputEventEmitter.emit(this.inputTodoItemFromComponentTask)-->
<!--}-->

<!--v $event zapisano zna4enie s kotorum bydem rabotat'-->